/* ==========================================================================
   Bootstrap Modifications & Fonts Import
   ========================================================================== */

/**
 * ProximaNova Fonts (Default is "Regular") 
 **/ 

@font-face {
font-family: 'ProximaNova';
src: url("../fonts/ProximaNova-Reg.otf");
}

@font-face {
font-family: 'ProximaNova-Thin';
font-weight: thin;
src: url("../fonts/ProximaNova-Thin.otf");
}

/**
 * Input Group Overrides
 **/ 
.noodle-input {
	margin-top: 8%;
	margin-bottom: 8%;
}

 .noodle-input .form-control {
    background-color: #eee;
 }

 .noodle-input .form-control:focus {
 		background-color: #fff;
    border: 2px solid #00BFE7;
    box-shadow: none;
 }

 .noodle-input .input-group-addon {
 	color: #fff;
	background-color: #00BFE7;
	border: none;
 }

/**
 * Radio Button Overrides
 **/ 

 #radio-user-type .check-container {
	float: left;
	width: 30%;
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
}

#radio-user-type .check-container label {
	text-transform: capitalize;
	font-size: 18px;
	color: #fff;
	margin: -1px 0px 5px 5px;
}

#radio-user-type .regular-radio {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

#radio-user-type .regular-radio:checked+label {
	background-color: #FFF;
}

#radio-user-type .regular-radio+label {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #00BFE7;
	padding: 9px;
	border-radius: 50px;
	float: left;
	position: relative;
	margin: 0 5px 5px 0 !important;
}

#radio-user-type .regular-radio:checked+label:after {
	content: ' ';
	width: 10px;
	height: 10px;
	border-radius: 50px;
	position: absolute;
	top: 4px;
	background: #00BFE7;
	left: 4px;
}

/**
 * Btn Overrides
 **/ 

.btn-noodle {
	background: #07B0D4;
  color: #fff;
  font-size: 25px;
  padding: 15px 60px;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid #00738b;
  margin-bottom: 2%;
}

 .btn-noodle:hover {
 	background: #20c9ed;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #00738b;
}

.btn-noodle:active {
 	background: #20c9ed;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #00738b;
}

/* ==========================================================================
   General styles
   ========================================================================== */

body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: normal;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

#big-header h1 {
  color:#fff;
  padding-top: 7%;
}

#big-header h3 {
	font-style: italic;
  padding-bottom: 2%;
}

/**
 * Text Alignment & Styles
 **/ 

.centered {
  text-align: center
}

/* ==========================================================================
   Containers
   ========================================================================== */

.logo-head {
	position: relative;
	top: 20px;
	left: 2%;
}

.index-00 {
  background: url(../img/background-01.jpg) no-repeat center top;
  background-attachment: relative;
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: auto;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sub-text {
	padding-bottom: 5%;
}


.register {
	margin-top: 3%;
}

/* ==========================================================================
   Alerts
   ========================================================================== */
.input-field {
	display: none;
}

#email-error-mes {
	margin-top: -4%;
}

#email-success {
	margin-top: 2%;
	padding: 1% 8% 12% 8%;
	background-color: rgba(7, 176, 212, 0.8);
	color: #fff;
	border: none;
}

#email-success h2 {
	font-size: 1.5em;
}

#email-success h4 {
	margin-top: 10%;
	font-size: 1.3em;
}

/* ==========================================================================
   Responsive Styling
   ========================================================================== */


@media (max-width: 991px) {
  /* 768px & 991px */

  h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

	#big-header h1 {
  	padding-top: 10%;
  }

  .register {
		margin-top: 10%;
	}
}

@media (max-width: 480px) {
	
	.logo-head {
		position: relative;
		top: 20px;
		left: 5%;
	}
	#big-header h1 {
		padding-top: 10%;
  	margin-left: 10%;
  	margin-right: 10%;
  }

  .sub-text {
		padding-bottom: 0%;
	}

  .register {
		margin-top: 5%;
	}

	#radio-user-type .check-container label {
		font-size: 15px;
	}	

}
