/* ==========================================================================
   Bootstrap Modifications & Fonts Import
   ========================================================================== */

/**
 * ProximaNova Fonts (Default is "Regular") 
 **/ 

@font-face {
font-family: 'ProximaNova';
src: url("../fonts/ProximaNova-Reg.otf");
}

@font-face {
font-family: 'ProximaNova-Thin';
font-weight: thin;
src: url("../fonts/ProximaNova-Thin.otf");
}

/**
 * Text Alignment & Styles
 **/ 

.centered {
  text-align: center
}

/**
 * Input Group Overrides
 **/ 

 .noodle-input .form-control {
    background-color: #eee;
 }

 .noodle-input .form-control:focus {
 	background-color: #fff;
    border: 2px solid #00BFE7;
    box-shadow: none;
 }

 .noodle-input .input-group-addon {
 	color: #fff;
	background-color: #00BFE7;
	border: none;
 }

/* ==========================================================================
   General styles
   ========================================================================== */

body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: normal;
}


/* ==========================================================================
   Containers
   ========================================================================== */

/**
 * Index-Page Layout - #big-header 
 *
 * This creates and defines styles for above-the-fold large image container 
 * 
 * .index-## is used to define the background image for each separate associated 
 * index page
 *
 * Bootstrap classes employed for positioning and mobile responsive styling
 * 
 * Example HTML:
 *
 *   <div id="big-header" class="index-00">
 *   
 *        CONTENTS HERE
 *
 *   </div><!--End big-header-->
 *
 **/

#big-header {
  padding-top: 10%;
}

#big-header h1 {
  color:#fff;
  padding-top: 2%;
  padding-bottom: 20px;
  font-size: 48px;
}

#big-header .sub-text {
	padding-bottom: 5%;
}

.index-00 {
  background: url(../img/background-01.jpg) no-repeat center top;
  background-attachment: relative;
  min-height: 800px;
  width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}