/* ==========================================================================
   Bootstrap Modifications & Fonts Import
   ========================================================================== */

/**
 * ProximaNova Fonts (Default is "Regular") 
 **/ 

@font-face {
font-family: 'ProximaNova';
src: url("../fonts/ProximaNova-Reg.otf");
}

@font-face {
font-family: 'ProximaNova-Thin';
font-weight: thin;
src: url("../fonts/ProximaNova-Thin.otf");
}

/**
 * Input Group Overrides
 **/ 
.noodle-input {
	margin-bottom: 3%;
}

 .noodle-input .form-control {
    background-color: #eee;
 }

 .noodle-input .form-control:focus {
 	background-color: #fff;
    border: 2px solid #00BFE7;
    box-shadow: none;
 }

 .noodle-input .input-group-addon {
 	color: #fff;
	background-color: #00BFE7;
	border: none;
 }

/**
 * Radio Button Overrides
 **/ 

 #radio-user-type .check-container {
	float: left;
	width: 30%;

	display: inline-block;
	position: relative;
	margin-bottom: 10px;
}

#radio-user-type .check-container label {
	text-transform: capitalize;
	font-size: 18px;
	color: #fff;
	margin: -1px 0px 5px 5px;
}

#radio-user-type .regular-radio {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

#radio-user-type .regular-radio:checked+label {
	background-color: #FFF;
}

#radio-user-type .regular-radio+label {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #00BFE7;
	padding: 9px;
	border-radius: 50px;
	float: left;
	position: relative;
	margin: 0 5px 5px 0 !important;
}

#radio-user-type .regular-radio:checked+label:after {
	content: ' ';
	width: 10px;
	height: 10px;
	border-radius: 50px;
	position: absolute;
	top: 4px;
	background: #00BFE7;
	left: 4px;
}

/**
 * Btn Overrides
 **/ 

.btn-noodle {
	background: #07B0D4;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  padding: 25px 80px;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid #00738b;
}

 .btn-noodle:hover {
 	background: #20c9ed;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #00738b;
}

/* ==========================================================================
   General styles
   ========================================================================== */

body {
    font-family: 'ProximaNova', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-weight: normal;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

/**
 * Text Alignment & Styles
 **/ 

.centered {
  text-align: center
}

/* ==========================================================================
   Containers
   ========================================================================== */

.logo-head {
	position: relative;
	top: 20px;
	left: 2%;
}

#big-header h1 {
  color:#fff;
  padding-top: 5%;
  padding-bottom: 1%;
}

#big-header h2 {
	font-style: italic;
  padding-bottom: 1%;
}

#big-header .sub-text {
	padding-bottom: 5%;
}

.index-00 {
  background: url(../img/background-01.jpg) no-repeat center top;
  background-attachment: relative;
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: auto;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.register {
	margin-top: 3%;
}